<a href="https://colab.research.google.com/github/ankita1120/MicrosoftPowerBI/blob/main/Advanced_Data_Wrangling_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

apply method():-

In [ ]:
import pandas as pd
import numpy as np
import google.colab

# Mount your Google Drive to access the file
from google.colab import drive # Importing the drive module
drive.mount('/content/drive')

file_path = '/content/drive/My Drive/imdb_data.csv'
imdb_data = pd.read_csv(file_path)

# Print the column names to verify the correct name for the 'Title' column
print(imdb_data.columns)

Mounted at /content/drive
Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [ ]:
def to_uppercase(column):
  return column.upper()

imdb_data['Capitalized_title'] = imdb_data['title'].apply(to_uppercase)
imdb_data['Capitalized_title'].head()

0                      HOT TUB TIME MACHINE 2
1    THE PRINCESS DIARIES 2: ROYAL ENGAGEMENT
2                                    WHIPLASH
3                                     KAHAANI
4                                  MARINE BOY
Name: Capitalized_title, dtype: object

lambda Function :-

In [ ]:
# lambda function - Row wise operation
def revised_profit(revenue, budget):
  if revenue > 0:
    new_profit = revenue - budget
  else:
    new_profit = np.nan

  return new_profit
imdb_data['new_profit'] = imdb_data.apply(lambda x: revised_profit(x['revenue'], x['budget']),axis=1)
imdb_data['new_profit'].head()

0    -1685349
1    55149435
2     9792000
3    14800000
4     3923970
Name: new_profit, dtype: int64

In [ ]:
#lets Create Three Dataframe:
imdb1 = imdb_data[imdb_data['runtime']>= 150]
imdb2 = imdb_data[ (imdb_data['runtime'] < 150) & (imdb_data['runtime'] > 100 )]
imdb3 = imdb_data[imdb_data['runtime'] <= 100]

new_data = imdb_data[['new_profit','Capitalized_title']].head()
new_data

   new_profit                         Capitalized_title
0    -1685349                    HOT TUB TIME MACHINE 2
1    55149435  THE PRINCESS DIARIES 2: ROYAL ENGAGEMENT
2     9792000                                  WHIPLASH
3    14800000                                   KAHAANI
4     3923970                                MARINE BOY

In [ ]:
imdb2.head()

In [ ]:
import pandas as pd
import numpy as np

# Assuming the file path is correct
file_path = '/content/drive/My Drive/imdb_data.csv'
imdb_data = pd.read_csv(file_path)

# Function to capitalize titles
def to_uppercase(column):
  return column.upper()

# Apply the function to create 'Capitalized_title' column
imdb_data['Capitalized_title'] = imdb_data['title'].apply(to_uppercase)

# Function to calculate revised profit
def revised_profit(revenue, budget):
  if revenue > 0:
    new_profit = revenue - budget
  else:
    new_profit = np.nan
  return new_profit

# Apply the function to create 'new_profit' column
imdb_data['new_profit'] = imdb_data.apply(lambda x: revised_profit(x['revenue'], x['budget']), axis=1)

# Create three DataFrames based on runtime
imdb1 = imdb_data[imdb_data['runtime'] >= 150]
imdb2 = imdb_data[(imdb_data['runtime'] < 150) & (imdb_data['runtime'] > 100)]
imdb3 = imdb_data[imdb_data['runtime'] <= 100]

# Create a new DataFrame with the selected columns
new_data = imdb_data[['new_profit', 'Capitalized_title']].head()

# Display the new DataFrame
print(new_data)

   new_profit                         Capitalized_title
0    -1685349                    HOT TUB TIME MACHINE 2
1    55149435  THE PRINCESS DIARIES 2: ROYAL ENGAGEMENT
2     9792000                                  WHIPLASH
3    14800000                                   KAHAANI
4     3923970                                MARINE BOY

In [ ]:
imdb1.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,Capitalized_title,new_profit
47,48,NaN,44000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",http://thehatefuleight.com/,tt3460252,en,The Hateful Eight,Bounty hunters seek shelter from a raging bliz...,20.328822,...,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,No one comes up here without a damn good reason.,The Hateful Eight,"[{'id': 801, 'name': 'bounty hunter'}, {'id': ...","[{'cast_id': 22, 'character': 'Major Marquis W...","[{'credit_id': '538aa95ec3a368714e0005b3', 'de...",155760117,THE HATEFUL EIGHT,111760117
51,52,NaN,12000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",NaN,tt0059243,en,The Great Race,"Professional daredevil and white-suited hero, ...",4.473327,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"The movie with 20,000-mile or one-million-laug...",The Great Race,"[{'id': 9253, 'name': 'slapstick'}, {'id': 159...","[{'cast_id': 1, 'character': 'Prof. Fate', 'cr...","[{'credit_id': '52fe445e9251416c75032581', 'de...",25333333,THE GREAT RACE,13333333
76,77,NaN,500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt0242572,ta,Kandukondain Kandukondain,Two young women with differing views on love f...,0.660663,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kandukondain Kandukondain,NaN,"[{'cast_id': 1, 'character': 'Manohar', 'credi...","[{'credit_id': '52fe47c7c3a368484e0d8f41', 'de...",500000,KANDUKONDAIN KANDUKONDAIN,0
97,98,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,tt1772980,ru,Mishen,"In the year 2020, a group of wealthy Moscovite...",1.042112,...,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,Target,NaN,"[{'cast_id': 1001, 'character': 'Victor', 'cre...","[{'credit_id': '58cdbad4c3a36850e9011085', 'de...",73000,TARGET,73000
107,108,NaN,72000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,tt0112573,en,Braveheart,"Enraged at the slaughter of Murron, his new br...",20.755149,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Every man dies. Not every man truly lives.,Braveheart,"[{'id': 30, 'name': 'individual'}, {'id': 388,...","[{'cast_id': 5, 'character': 'William Wallace'...","[{'credit_id': '52fe4225c3a36847f80079c1', 'de...",210000000,BRAVEHEART,138000000

In [ ]:
imdb2.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,Capitalized_title,new_profit
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,THE PRINCESS DIARIES 2: ROYAL ENGAGEMENT,55149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,WHIPLASH,9792000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,KAHAANI,14800000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,MARINE BOY,3923970
10,11,"[{'id': 1575, 'name': 'Rocky Collection', 'pos...",1000000,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0075148,en,Rocky,"When world heavyweight boxing champion, Apollo...",14.774066,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,His whole life was a million-to-one shot.,Rocky,"[{'id': 240, 'name': 'underdog'}, {'id': 276, ...","[{'cast_id': 16, 'character': 'Rocky Balboa', ...","[{'credit_id': '579948e9c3a36874e9007b0b', 'de...",117235147,ROCKY,116235147

In [ ]:
imdb3.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,Capitalized_title,new_profit
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,HOT TUB TIME MACHINE 2,-1685349
5,6,NaN,8000000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",NaN,tt0093743,en,Pinocchio and the Emperor of the Night,"Pinocchio and his friends, a glow worm and a m...",0.743274,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Pinocchio and the Emperor of the Night,NaN,"[{'cast_id': 6, 'character': 'Pinocchio (voice...","[{'credit_id': '52fe46f49251416c9106558b', 'de...",3261638,PINOCCHIO AND THE EMPEROR OF THE NIGHT,-4738362
6,7,NaN,14000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://www.thepossessionmovie.com/,tt0431021,en,The Possession,A young girl buys an antique box at a yard sal...,7.286477,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fear The Demon That Doesn't Fear God,The Possession,NaN,"[{'cast_id': 23, 'character': 'Clyde', 'credit...","[{'credit_id': '52fe4981c3a368484e12ee29', 'de...",85446075,THE POSSESSION,71446075
7,8,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,tt0391024,en,Control Room,A chronicle which provides a rare window into ...,1.949044,...,"[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...",Released,Different channels. Different truths.,Control Room,"[{'id': 917, 'name': 'journalism'}, {'id': 163...","[{'cast_id': 2, 'character': 'Himself', 'credi...","[{'credit_id': '52fe47a69251416c750a0daf', 'de...",2586511,CONTROL ROOM,2586511
8,9,"[{'id': 256377, 'name': 'The Muppet Collection...",0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,tt0117110,en,Muppet Treasure Island,After telling the story of Flint's last journe...,6.902423,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Set sail for Muppet mayhem!,Muppet Treasure Island,"[{'id': 2041, 'name': 'island'}, {'id': 4418, ...","[{'cast_id': 1, 'character': 'Long John Silver...","[{'credit_id': '52fe43c89251416c7501deb3', 'de...",34327391,MUPPET TREASURE ISLAND,34327391

In [ ]:
imdb_non_null_runtime = pd.concat([imdb1, imdb2, imdb3])
imdb_non_null_runtime

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,Capitalized_title,new_profit
47,48,NaN,44000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",http://thehatefuleight.com/,tt3460252,en,The Hateful Eight,Bounty hunters seek shelter from a raging bliz...,20.328822,...,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,No one comes up here without a damn good reason.,The Hateful Eight,"[{'id': 801, 'name': 'bounty hunter'}, {'id': ...","[{'cast_id': 22, 'character': 'Major Marquis W...","[{'credit_id': '538aa95ec3a368714e0005b3', 'de...",155760117,THE HATEFUL EIGHT,111760117
51,52,NaN,12000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",NaN,tt0059243,en,The Great Race,"Professional daredevil and white-suited hero, ...",4.473327,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"The movie with 20,000-mile or one-million-laug...",The Great Race,"[{'id': 9253, 'name': 'slapstick'}, {'id': 159...","[{'cast_id': 1, 'character': 'Prof. Fate', 'cr...","[{'credit_id': '52fe445e9251416c75032581', 'de...",25333333,THE GREAT RACE,13333333
76,77,NaN,500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt0242572,ta,Kandukondain Kandukondain,Two young women with differing views on love f...,0.660663,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kandukondain Kandukondain,NaN,"[{'cast_id': 1, 'character': 'Manohar', 'credi...","[{'credit_id': '52fe47c7c3a368484e0d8f41', 'de...",500000,KANDUKONDAIN KANDUKONDAIN,0
97,98,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,tt1772980,ru,Mishen,"In the year 2020, a group of wealthy Moscovite...",1.042112,...,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,Target,NaN,"[{'cast_id': 1001, 'character': 'Victor', 'cre...","[{'credit_id': '58cdbad4c3a36850e9011085', 'de...",73000,TARGET,73000
107,108,NaN,72000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,tt0112573,en,Braveheart,"Enraged at the slaughter of Murron, his new br...",20.755149,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Every man dies. Not every man truly lives.,Braveheart,"[{'id': 30, 'name': 'individual'}, {'id': 388,...","[{'cast_id': 5, 'character': 'William Wallace'...","[{'credit_id': '52fe4225c3a36847f80079c1', 'de...",210000000,BRAVEHEART,138000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2987,2988,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,tt0096246,en,The Terror Within,Experiments in biological warfare have destroy...,1.292125,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It Wants To Get Out!,The Terror Within,"[{'id': 1299, 'name': 'monster'}, {'id': 1852,...","[{'cast_id': 4, 'character': 'Hal', 'credit_id...","[{'credit_id': '52fe45d9c3a368484e072511', 'de...",858591,THE TERROR WITHIN,858591
2988,2989,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0301978,fa,ده,A visual social examination in the form of ten...,0.984515,...,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,NaN,Ten,"[{'id': 1156, 'name': 'sister sister relations...","[{'cast_id': 2, 'character': 'Driver', 'credit...","[{'credit_id': '52fe460a9251416c7506b0a7', 'de...",105656,TEN,105656
2989,2990,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",NaN,tt0206367,en,The Trumpet Of The Swan,The adventures of a young Trumpeter swan who c...,0.851599,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Sometimes being different helps you to find yo...,The Trumpet Of The Swan,"[{'id': 6653, 'name': 'trumpet'}, {'id': 10407...","[{'cast_id': 1, 'character': 'Father', 'credit...","[{'credit_id': '58bc9d609251416084044b0e', 'de...",100202,THE TRUMPET OF THE SWAN,100202
2990,2991,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,tt0118663,en,B.A.P.S.,Can two clueless Georgia homegirls with big he...,1.560980,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,These Pretty Women... Are Clueless!,B.A.P.S.,"[{'id': 1437, 'name': 'burglar'}, {'id': 1946,...","[{'cast_id': 3, 'character': 'Nisi', 'credit_i...","[{'credit_id': '52fe477b9251416c7509af57', 'de...",7240837,B.A.P.S.,7240837
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386,ALONG CAME POLLY,129963386

In [ ]:
imdb_non_null_runtime.shape

(2998, 25)

In [ ]:
# Concatenate along a particular axis
sample_df = pd.concat ([imdb1 ,imdb2],axis =1)
sample_df.tail()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,Capitalized_title,new_profit
2994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just because you’re accepted doesn’t mean you ...,School Ties,"[{'id': 6075, 'name': 'sport'}, {'id': 10144, ...","[{'cast_id': 2, 'character': 'David Greene', '...","[{'credit_id': '5637777ac3a3681b4d01f9f5', 'de...",14715067.0,SCHOOL TIES,14715067.0
2995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687.0,CHASERS,1596687.0
2996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590.0,WE ARE THE BEST!,180590.0
2997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761.0,THE LONG KISS GOODNIGHT,24456761.0
2999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155.0,ABDUCTION,47087155.0

In [ ]:
sample_df.shape

(1721, 50)

In [ ]:
# Create a dataframe with only English movies
english_movies = imdb_data[imdb_data['original_language'] == 'en']

# Create another dataframe for movies with runtime greater than 100 minutes, including imdb_id for merging
long_movies = imdb_data.loc[imdb_data['runtime'] >= 100, ['imdb_id','original_language']]

# Check the shapes of both dataframes
print(english_movies.shape, long_movies.shape)

# Print column names to confirm they are correct
print(english_movies.columns)
print(long_movies.columns)

# Now merge the two dataframes using an inner join on 'imdb_id'
merged_IJ_df = pd.merge(english_movies, long_movies, how='inner', on='imdb_id')

# Display the merged dataframe
print(merged_IJ_df)
# Merging the two dataframes using left join

(2575, 25) (1820, 2)
Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue',
       'Capitalized_title', 'new_profit'],
      dtype='object')
Index(['imdb_id', 'original_language'], dtype='object')
        id                              belongs_to_collection    budget  \
0        2  [{'id': 107674, 'name': 'The Princess Diaries ...  40000000
1        3                                                NaN   3300000
2        9  [{'id': 256377, 'name': 'The Muppet Collection...         0
3       11  [{'id': 1575, 'name': 'Rocky Collection', 'pos...   1000000
4       13                                                NaN  15000000
...    ...                                                ...       ...
1523  2994                                                NaN  60000000
1524  2995                                                NaN         0
1525  2996                                                NaN         0
1526  2998                                                NaN  65000000
1527  3000                                                NaN  35000000

                                                 genres  \
0     [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
1                         [{'id': 18, 'name': 'Drama'}]
2     [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
3                         [{'id': 18, 'name': 'Drama'}]
4                         [{'id': 18, 'name': 'Drama'}]
...                                                 ...
1523  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
1524                      [{'id': 18, 'name': 'Drama'}]
1525  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
1526  [{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...
1527  [{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...

                                  homepage    imdb_id original_language_x  \
0                                      NaN  tt0368933                  en
1        http://sonyclassics.com/whiplash/  tt2582802                  en
2                                      NaN  tt0117110                  en
3                                      NaN  tt0075148                  en
4            http://www.dreamworks.com/ab/  tt0169547                  en
...                                    ...        ...                 ...
1523  http://www.theterminal-themovie.com/  tt0362227                  en
1524                                   NaN  tt0105327                  en
1525                                   NaN  tt0109403                  en
1526                                   NaN  tt0116908                  en
1527      http://www.abductionthefilm.com/  tt1600195                  en

                                original_title  \
0     The Princess Diaries 2: Royal Engagement
1                                     Whiplash
2                       Muppet Treasure Island
3                                        Rocky
4                              American Beauty
...                                        ...
1523                              The Terminal
1524                               School Ties
1525                                   Chasers
1526                   The Long Kiss Goodnight
1527                                 Abduction

                                               overview  popularity  ...  \
0     Mia Thermopolis is now a college graduate and ...    8.248895  ...
1     Under the direction of a ruthless instructor, ...   64.299990  ...
2     After telling the story of Flint's last journe...    6.902423  ...
3     When world heavyweight boxing champion, Apollo...   14.774066  ...
4     Lester Burnham, a depressed suburban father in...   20.726578  ...
...                                                 ...         ...  ...
1523  Viktor Navorski is a man without a country; hi...   14.092373  ...
1524  When David Greene receives a football scholars...    7.438381  ...
1525  Military men Rock Reilly and Eddie Devane are ...    9.853270  ...
1526  Samantha Caine, suburban homemaker, is the ide...   14.482345  ...
1527  A young man sets out to uncover the truth abou...   10.512109  ...

        status                                            tagline  \
0     Released  It can take a lifetime to find true love; she'...
1     Released    The road to greatness can take you to the edge.
2     Released                        Set sail for Muppet mayhem!
3     Released          His whole life was a million-to-one shot.
4     Released                                       Look closer.
...        ...                                                ...
1523  Released                                   Life is waiting.
1524  Released  Just because you’re accepted doesn’t mean you ...
1525  Released  It was supposed to be a routine prisoner trans...
1526  Released               What's forgotten is not always gone.
1527  Released          They stole his life. He's taking it back.

                                         title  \
0     The Princess Diaries 2: Royal Engagement
1                                     Whiplash
2                       Muppet Treasure Island
3                                        Rocky
4                              American Beauty
...                                        ...
1523                              The Terminal
1524                               School Ties
1525                                   Chasers
1526                   The Long Kiss Goodnight
1527                                 Abduction

                                               Keywords  \
0     [{'id': 2505, 'name': 'coronation'}, {'id': 42...
1     [{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...
2     [{'id': 2041, 'name': 'island'}, {'id': 4418, ...
3     [{'id': 240, 'name': 'underdog'}, {'id': 276, ...
4     [{'id': 255, 'name': 'male nudity'}, {'id': 29...
...                                                 ...
1523  [{'id': 242, 'name': 'new york'}, {'id': 822, ...
1524  [{'id': 6075, 'name': 'sport'}, {'id': 10144, ...
1525  [{'id': 378, 'name': 'prison'}, {'id': 572, 'n...
1526  [{'id': 441, 'name': 'assassination'}, {'id': ...
1527  [{'id': 591, 'name': 'cia'}, {'id': 822, 'name...

                                                   cast  \
0     [{'cast_id': 1, 'character': 'Mia Thermopolis'...
1     [{'cast_id': 5, 'character': 'Andrew Neimann',...
2     [{'cast_id': 1, 'character': 'Long John Silver...
3     [{'cast_id': 16, 'character': 'Rocky Balboa', ...
4     [{'cast_id': 6, 'character': 'Lester Burnham',...
...                                                 ...
1523  [{'cast_id': 4, 'character': 'Viktor Navorski'...
1524  [{'cast_id': 2, 'character': 'David Greene', '...
1525  [{'cast_id': 2, 'character': 'Rock Reilly', 'c...
1526  [{'cast_id': 10, 'character': 'Samantha Caine ...
1527  [{'cast_id': 2, 'character': 'Nathan Harper', ...

                                                   crew    revenue  \
0     [{'credit_id': '52fe43fe9251416c7502563d', 'de...   95149435
1     [{'credit_id': '54d5356ec3a3683ba0000039', 'de...   13092000
2     [{'credit_id': '52fe43c89251416c7501deb3', 'de...   34327391
3     [{'credit_id': '579948e9c3a36874e9007b0b', 'de...  117235147
4     [{'credit_id': '52fe420ec3a36847f80007c5', 'de...  356296601
...                                                 ...        ...
1523  [{'credit_id': '52fe4259c3a36847f8017699', 'de...  219417255
1524  [{'credit_id': '5637777ac3a3681b4d01f9f5', 'de...   14715067
1525  [{'credit_id': '52fe4494c3a368484e02ac7d', 'de...    1596687
1526  [{'credit_id': '52fe443a9251416c7502d579', 'de...   89456761
1527  [{'credit_id': '5391990d0e0a260fb5001629', 'de...   82087155

                             Capitalized_title new_profit original_language_y
0     THE PRINCESS DIARIES 2: ROYAL ENGAGEMENT   55149435                  en
1                                     WHIPLASH    9792000                  en
2                       MUPPET TREASURE ISLAND   34327391                  en
3                                        ROCKY  116235147                  en
4                              AMERICAN BEAUTY  341296601                  en
...                                        ...        ...                 ...
1523                              THE TERMINAL  159417255                  en
1524                               SCHOOL TIES   14715067                  en
1525                                   CHASERS    1596687                  en
1526                   THE LONG KISS GOODNIGHT   24456761                  en
1527                                 ABDUCTION   47087155                  en

[1528 rows x 26 columns]

In [ ]:
imdb_data

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,Capitalized_title,new_profit
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,HOT TUB TIME MACHINE 2,-1685349
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,THE PRINCESS DIARIES 2: ROYAL ENGAGEMENT,55149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,WHIPLASH,9792000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,KAHAANI,14800000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,MARINE BOY,3923970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687,CHASERS,1596687
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,sv,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590,WE ARE THE BEST!,180590
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761,THE LONG KISS GOODNIGHT,24456761
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386,ALONG CAME POLLY,129963386
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155,ABDUCTION,47087155

In [ ]:
merged_LJ_df = pd.merge(english_movies, long_movies, how='left',left_on='imdb_id',right_on='imdb_id')
merged_LJ_df

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language_x,original_title,overview,popularity,...,status,tagline,title,Keywords,cast,crew,revenue,Capitalized_title,new_profit,original_language_y
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,HOT TUB TIME MACHINE 2,-1685349,NaN
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,THE PRINCESS DIARIES 2: ROYAL ENGAGEMENT,55149435,en
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,WHIPLASH,9792000,en
3,6,NaN,8000000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",NaN,tt0093743,en,Pinocchio and the Emperor of the Night,"Pinocchio and his friends, a glow worm and a m...",0.743274,...,Released,NaN,Pinocchio and the Emperor of the Night,NaN,"[{'cast_id': 6, 'character': 'Pinocchio (voice...","[{'credit_id': '52fe46f49251416c9106558b', 'de...",3261638,PINOCCHIO AND THE EMPEROR OF THE NIGHT,-4738362,NaN
4,7,NaN,14000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://www.thepossessionmovie.com/,tt0431021,en,The Possession,A young girl buys an antique box at a yard sal...,7.286477,...,Released,Fear The Demon That Doesn't Fear God,The Possession,NaN,"[{'cast_id': 23, 'character': 'Clyde', 'credit...","[{'credit_id': '52fe4981c3a368484e12ee29', 'de...",85446075,THE POSSESSION,71446075,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2570,2995,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0105327,en,School Ties,When David Greene receives a football scholars...,7.438381,...,Released,Just because you’re accepted doesn’t mean you ...,School Ties,"[{'id': 6075, 'name': 'sport'}, {'id': 10144, ...","[{'cast_id': 2, 'character': 'David Greene', '...","[{'credit_id': '5637777ac3a3681b4d01f9f5', 'de...",14715067,SCHOOL TIES,14715067,en
2571,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687,CHASERS,1596687,en
2572,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761,THE LONG KISS GOODNIGHT,24456761,en
2573,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386,ALONG CAME POLLY,129963386,NaN
2574,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155,ABDUCTION,47087155,en

In [ ]:
# Merging the two dataframes using right join
merged_RJ_df = pd.merge(english_movies, long_movies, how='right',left_on=['imdb_id'],right_on='imdb_id')
merged_RJ_df

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language_x,original_title,overview,popularity,...,status,tagline,title,Keywords,cast,crew,revenue,Capitalized_title,new_profit,original_language_y
0,2.0,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435.0,THE PRINCESS DIARIES 2: ROYAL ENGAGEMENT,55149435.0,en
1,3.0,NaN,3300000.0,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000.0,WHIPLASH,9792000.0,en
2,NaN,NaN,NaN,NaN,NaN,tt1821480,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hi
3,NaN,NaN,NaN,NaN,NaN,tt1380152,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ko
4,9.0,"[{'id': 256377, 'name': 'The Muppet Collection...",0.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,tt0117110,en,Muppet Treasure Island,After telling the story of Flint's last journe...,6.902423,...,Released,Set sail for Muppet mayhem!,Muppet Treasure Island,"[{'id': 2041, 'name': 'island'}, {'id': 4418, ...","[{'cast_id': 1, 'character': 'Long John Silver...","[{'credit_id': '52fe43c89251416c7501deb3', 'de...",34327391.0,MUPPET TREASURE ISLAND,34327391.0,en
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1815,2995.0,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0105327,en,School Ties,When David Greene receives a football scholars...,7.438381,...,Released,Just because you’re accepted doesn’t mean you ...,School Ties,"[{'id': 6075, 'name': 'sport'}, {'id': 10144, ...","[{'cast_id': 2, 'character': 'David Greene', '...","[{'credit_id': '5637777ac3a3681b4d01f9f5', 'de...",14715067.0,SCHOOL TIES,14715067.0,en
1816,2996.0,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687.0,CHASERS,1596687.0,en
1817,NaN,NaN,NaN,NaN,NaN,tt2364975,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sv
1818,2998.0,NaN,65000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761.0,THE LONG KISS GOODNIGHT,24456761.0,en
1819,3000.0,NaN,35000000.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155.0,ABDUCTION,47087155.0,en

In [ ]:
# Outer Join
merged_OJ_df = pd.merge(english_movies[['imdb_id','runtime']],long_movies, on='imdb_id', how='outer')
merged_OJ_df

        imdb_id  runtime original_language
0     tt0004972    193.0                en
1     tt0006333    105.0                en
2     tt0012349     68.0               NaN
3     tt0015400    149.0                en
4     tt0016104    137.0                en
...         ...      ...               ...
2862  tt5946128      NaN                hi
2863  tt6003368     91.0               NaN
2864  tt6201292      NaN                ta
2865  tt6574272     80.0               NaN
2866  tt6673840      NaN                ru

[2867 rows x 3 columns]

In [ ]:
import pandas as pd

# Assuming 'imdb_data' is your DataFrame
# and you want to save it as 'imdb_data.csv'
imdb_data.to_csv('imdb_data.csv', index=False)

# Now you can read it back using pd.read_csv
imdb_df = pd.read_csv('imdb_data.csv')


imdb_df.columns
imdb_df.head(2)


# Convert the "Release Date" column to datetime type if it's not already in datetime format
imdb_df['release_date'] = pd.to_datetime(imdb_df['release_date'], errors='coerce')

# Extract the release year and add it as a new column
imdb_df['release_year'] = imdb_df['release_date'].dt.year

# We can find the maximum movie runtime across different years
max_runtime_movies_by_year = imdb_df.groupby('release_year')['runtime'].max().reset_index()

max_runtime_movies_by_year.rename(columns = {'runtime' : 'max_runtime'},inplace=True)
max_runtime_movies_by_year.head()

# We can find the median movie runtime across different years
imdb_df.groupby('release_year')['runtime'].median().reset_index()

<ipython-input-44-d0fee2692793>:16: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  imdb_df['release_date'] = pd.to_datetime(imdb_df['release_date'], errors='coerce')

    release_year  runtime
0           1974    115.0
1           1975    108.0
2           1976    119.0
3           1977    106.0
4           1978    109.5
..           ...      ...
85          2069    145.0
86          2070    124.5
87          2071    102.0
88          2072     99.5
89          2073    110.0

[90 rows x 2 columns]

In [ ]:
# Group the data frame by year and item and extract a number of stats from each group
imdb_df.groupby(['release_year', 'original_language'],as_index=False).agg({'runtime':"mean",'revenue': "sum",'imdb_id':"count"}).sort_values(by='release_year').rename(columns ={'runtime':'avg_runtime','revenue':'total_revenue','imdb_id':'num_movies'})

     release_year original_language  avg_runtime  total_revenue  num_movies
0            1974                en   113.200000      295501369           5
1            1975                en   110.285714      684244588           7
2            1975                it     0.000000       39598448           1
3            1976                en   121.000000      517828656           7
4            1977                en   110.454545      592379651          11
..            ...               ...          ...            ...         ...
343          2072                de   101.000000            100           1
344          2072                en   115.400000      290266411           5
345          2072                fr   113.500000       36601163           2
346          2073                en   105.750000      580286683           8
347          2073                fr   115.000000          17808           1

[348 rows x 5 columns]

Activity 1:
🎥🍿 Want to analyze profits of your favorite movies?💰🤑 Use Pandas and create a new column "profit" to find out the difference between revenue and budget!📊 Then, apply a lambda function to create a "profit_margin" column that calculates the profit margin of each movie as the ratio of its profit to its revenue.😎📈 And don't forget to add a new column "is_profitable" that indicates whether each movie is profitable or not based on its profit!🤔 Finally, print the first 10 rows to see if the new columns have been added correctly.👀

In [ ]:
import pandas as pd
imdb_df['profit'] = imdb_df['revenue'] - imdb_df['budget']
imdb_df['profit_margin'] = imdb_df['profit'] / imdb_df['revenue']
imdb_df['is_profitable'] = imdb_df['profit'].apply(lambda x: 'Yes' if x > 0 else 'No')
print(imdb_df.head(10))

   id                              belongs_to_collection    budget  \
0   1  [{'id': 313576, 'name': 'Hot Tub Time Machine ...  14000000
1   2  [{'id': 107674, 'name': 'The Princess Diaries ...  40000000
2   3                                                NaN   3300000
3   4                                                NaN   1200000
4   5                                                NaN         0
5   6                                                NaN   8000000
6   7                                                NaN  14000000
7   8                                                NaN         0
8   9  [{'id': 256377, 'name': 'The Muppet Collection...         0
9  10                                                NaN   6000000

                                              genres  \
0                     [{'id': 35, 'name': 'Comedy'}]
1  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
2                      [{'id': 18, 'name': 'Drama'}]
3  [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...
4  [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
5  [{'id': 16, 'name': 'Animation'}, {'id': 12, '...
6  [{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...
7                [{'id': 99, 'name': 'Documentary'}]
8  [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
9  [{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...

                             homepage    imdb_id original_language  \
0                                 NaN  tt2637294                en
1                                 NaN  tt0368933                en
2   http://sonyclassics.com/whiplash/  tt2582802                en
3          http://kahaanithefilm.com/  tt1821480                hi
4                                 NaN  tt1380152                ko
5                                 NaN  tt0093743                en
6  http://www.thepossessionmovie.com/  tt0431021                en
7                                 NaN  tt0391024                en
8                                 NaN  tt0117110                en
9                                 NaN  tt0310281                en

                             original_title  \
0                    Hot Tub Time Machine 2
1  The Princess Diaries 2: Royal Engagement
2                                  Whiplash
3                                   Kahaani
4                                      마린보이
5    Pinocchio and the Emperor of the Night
6                            The Possession
7                              Control Room
8                    Muppet Treasure Island
9                             A Mighty Wind

                                            overview  popularity  ...  \
0  When Lou, who has become the "father of the In...    6.575393  ...
1  Mia Thermopolis is now a college graduate and ...    8.248895  ...
2  Under the direction of a ruthless instructor, ...   64.299990  ...
3  Vidya Bagchi (Vidya Balan) arrives in Kolkata ...    3.174936  ...
4  Marine Boy is the story of a former national s...    1.148070  ...
5  Pinocchio and his friends, a glow worm and a m...    0.743274  ...
6  A young girl buys an antique box at a yard sal...    7.286477  ...
7  A chronicle which provides a rare window into ...    1.949044  ...
8  After telling the story of Flint's last journe...    6.902423  ...
9  In "A Mighty Wind", director Christopher Guest...    4.672036  ...

                                            Keywords  \
0  [{'id': 4379, 'name': 'time travel'}, {'id': 9...
1  [{'id': 2505, 'name': 'coronation'}, {'id': 42...
2  [{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...
3  [{'id': 10092, 'name': 'mystery'}, {'id': 1054...
4                                                NaN
5                                                NaN
6                                                NaN
7  [{'id': 917, 'name': 'journalism'}, {'id': 163...
8  [{'id': 2041, 'name': 'island'}, {'id': 4418, ...
9  [{'id': 11800, 'name': 'mockumentary'}, {'id':...

                                                cast  \
0  [{'cast_id': 4, 'character': 'Lou', 'credit_id...
1  [{'cast_id': 1, 'character': 'Mia Thermopolis'...
2  [{'cast_id': 5, 'character': 'Andrew Neimann',...
3  [{'cast_id': 1, 'character': 'Vidya Bagchi', '...
4  [{'cast_id': 3, 'character': 'Chun-soo', 'cred...
5  [{'cast_id': 6, 'character': 'Pinocchio (voice...
6  [{'cast_id': 23, 'character': 'Clyde', 'credit...
7  [{'cast_id': 2, 'character': 'Himself', 'credi...
8  [{'cast_id': 1, 'character': 'Long John Silver...
9  [{'cast_id': 24, 'character': 'Jonathan Steinb...

                                                crew   revenue  \
0  [{'credit_id': '59ac067c92514107af02c8c8', 'de...  12314651
1  [{'credit_id': '52fe43fe9251416c7502563d', 'de...  95149435
2  [{'credit_id': '54d5356ec3a3683ba0000039', 'de...  13092000
3  [{'credit_id': '52fe48779251416c9108d6eb', 'de...  16000000
4  [{'credit_id': '52fe464b9251416c75073b43', 'de...   3923970
5  [{'credit_id': '52fe46f49251416c9106558b', 'de...   3261638
6  [{'credit_id': '52fe4981c3a368484e12ee29', 'de...  85446075
7  [{'credit_id': '52fe47a69251416c750a0daf', 'de...   2586511
8  [{'credit_id': '52fe43c89251416c7501deb3', 'de...  34327391
9  [{'credit_id': '52fe45609251416c750545b3', 'de...  18750246

                          Capitalized_title new_profit release_year    profit  \
0                    HOT TUB TIME MACHINE 2   -1685349         2015  -1685349
1  THE PRINCESS DIARIES 2: ROYAL ENGAGEMENT   55149435         2004  55149435
2                                  WHIPLASH    9792000         2014   9792000
3                                   KAHAANI   14800000         2012  14800000
4                                MARINE BOY    3923970         2009   3923970
5    PINOCCHIO AND THE EMPEROR OF THE NIGHT   -4738362         1987  -4738362
6                            THE POSSESSION   71446075         2012  71446075
7                              CONTROL ROOM    2586511         2004   2586511
8                    MUPPET TREASURE ISLAND   34327391         1996  34327391
9                             A MIGHTY WIND   12750246         2003  12750246

  profit_margin is_profitable
0     -0.136857            No
1      0.579609           Yes
2      0.747938           Yes
3      0.925000           Yes
4      1.000000           Yes
5     -1.452755            No
6      0.836154           Yes
7      1.000000           Yes
8      1.000000           Yes
9      0.680004           Yes

[10 rows x 29 columns]

🍿🕰️🎬 Are you ready for a movie marathon? 🤩🎥 Let's filter the IMDb dataset for movies that are at least 2 hours long ⏰ and those with a popularity of 50.0 or higher 🌟. Then, let's concatenate these two filtered DataFrames into a new DataFrame 🤝, and sort it by popularity to find the top-rated movies with a runtime of 2 hours or more 🏆🎞️. Can you print the titles and popularity of the top 10 movies in this new DataFrame? 🤔💻🔍

In [ ]:
runtime_filtered = imdb_df[imdb_df['runtime']>= 120]
popularity_filtered = imdb_df[imdb_df['popularity'] >= 50.0]
new_df = pd.concat([runtime_filtered,popularity_filtered])
filtered_movies = pd.concat([runtime_filtered, popularity_filtered]).sort_values(by='popularity',ascending=False)
filtered_movies = filtered_movies.drop_duplicates()
sorted_movies = filtered_movies.sort_values(by='popularity', ascending=False)
top_10_movies = sorted_movies.head(10)
print(top_10_movies)

Activity 3:
🎬 Imagine you're working for a movie production company that wants to analyze trends in high-budget movies 💰. Your task is to create a dataset of all movies released in the year 2013 🗓️ and another dataframe of movies with a budget greater than 20 million 💸. Then, you need to join the two dataframes using an inner join to get a list of high-budget movies that were released in 2013.

In [ ]:
from datetime import datetime
imdb_df['release_date'] = pd.to_datetime(imdb_df['release_date'])
high_budget_movies = imdb_df[imdb_df['budget'] > 20000000]
movies_2013 = imdb_df[imdb_df['release_year'] == 2013]
merged_df = pd.merge(high_budget_movies,movies_2013,on='imdb_id',how='inner')
print(merged_df)

    id_x                            belongs_to_collection_x   budget_x  \
0    148                                                NaN   39200000
1    203                                                NaN   55000000
2    216                                                NaN   35000000
3    242                                                NaN   70000000
4    318                                                NaN  115000000
5    337  [{'id': 382685, 'name': 'Now You See Me Collec...   75000000
6    413                                                NaN   28000000
7    600                                                NaN   35000000
8    667  [{'id': 121938, 'name': 'The Hobbit Collection...  250000000
9    677  [{'id': 179892, 'name': 'Kick-Ass Collection',...   28000000
10   764  [{'id': 416468, 'name': 'World War Z Collectio...  200000000
11   913                                                NaN   25000000
12   928                                                NaN  195000000
13   985                                                NaN   35000000
14  1124                                                NaN   44000000
15  1138                                                NaN   22000000
16  1159  [{'id': 179919, 'name': 'Percy Jackson Collect...   90000000
17  1202                                                NaN   25000000
18  1244                                                NaN  105000000
19  1301                                                NaN   35000000
20  1346                                                NaN   40000000
21  1406                                                NaN   30000000
22  1423                                                NaN   32000000
23  1467                                                NaN   50000000
24  1522                                                NaN  130000000
25  1559                                                NaN   27220000
26  1797                                                NaN   55000000
27  1880                                                NaN   40000000
28  1884  [{'id': 454520, 'name': 'Captain Harlock Colle...   30000000
29  1930                                                NaN   28000000
30  1973  [{'id': 453993, 'name': 'The Wolverine Collect...  120000000
31  2015                                                NaN  100000000
32  2059  [{'id': 134897, 'name': 'The Smurfs (Theatrica...  105000000
33  2060                                                NaN   28000000
34  2122  [{'id': 386534, 'name': '... Has Fallen Collec...   70000000
35  2140                                                NaN   60000000
36  2168  [{'id': 86119, 'name': 'The Hangover Collectio...  103000000
37  2263                                                NaN   56000000
38  2297                                                NaN   90000000
39  2358  [{'id': 209131, 'name': 'Man of Steel Collecti...  225000000
40  2455                                                NaN   58000000
41  2460                                                NaN  100000000
42  2816                                                NaN   25000000
43  2844                                                NaN   60000000
44  2857                                                NaN   49300000
45  2881                                                NaN  150000000

                                             genres_x  \
0   [{'id': 28, 'name': 'Action'}, {'id': 878, 'na...
1   [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
2   [{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...
3   [{'id': 16, 'name': 'Animation'}, {'id': 10402...
4   [{'id': 878, 'name': 'Science Fiction'}, {'id'...
5   [{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...
6                  [{'id': 10749, 'name': 'Romance'}]
7   [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...
8   [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
9   [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
10  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
11  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
12  [{'id': 28, 'name': 'Action'}, {'id': 10751, '...
13  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
14  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
15  [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...
16  [{'id': 12, 'name': 'Adventure'}, {'id': 10751...
17  [{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...
18  [{'id': 878, 'name': 'Science Fiction'}, {'id'...
19  [{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...
20  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
21  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
22  [{'id': 12, 'name': 'Adventure'}, {'id': 18, '...
23  [{'id': 14, 'name': 'Fantasy'}, {'id': 27, 'na...
24  [{'id': 878, 'name': 'Science Fiction'}, {'id'...
25  [{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...
26  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
27  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
28  [{'id': 16, 'name': 'Animation'}, {'id': 878, ...
29  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
30  [{'id': 28, 'name': 'Action'}, {'id': 878, 'na...
31  [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
32  [{'id': 14, 'name': 'Fantasy'}, {'id': 10751, ...
33  [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
34  [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
35  [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
36                     [{'id': 35, 'name': 'Comedy'}]
37  [{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...
38  [{'id': 12, 'name': 'Adventure'}, {'id': 35, '...
39  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
40                     [{'id': 35, 'name': 'Comedy'}]
41  [{'id': 16, 'name': 'Animation'}, {'id': 12, '...
42  [{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...
43  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
44  [{'id': 16, 'name': 'Animation'}, {'id': 18, '...
45  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...

                                        homepage_x    imdb_id  \
0                     http://snowpiercer-film.com/  tt1706620
1                                              NaN  tt1621039
2                http://www.identitythiefmovie.com  tt2024432
3              http://www.dorothyofozthemovie.com/  tt0884726
4                                              NaN  tt1535108
5                                              NaN  tt1670345
6                                              NaN  tt1702439
7                                              NaN  tt0882977
8                        http://www.thehobbit.com/  tt1170358
9                                              NaN  tt1650554
10                   http://www.worldwarzmovie.com  tt0816711
11                                             NaN  tt2016940
12        http://jackthegiantkiller.warnerbros.com  tt1351685
13                                             NaN  tt1904996
14                                             NaN  tt1517260
15                                             NaN  tt1206543
16  http://www.percyjacksonthemovie.com/us/#!/home  tt1854564
17                                             NaN  tt2193215
18             http://gravitymovie.warnerbros.com/  tt1454468
19                                             NaN  tt1588173
20                http://www.lonesurvivorfilm.com/  tt1091191
21                                             NaN  tt2404311
22                                             NaN  tt2101473
23            http://www.hanselandgretelmovie.com/  tt1428538
24                                             NaN  tt1815862
25                                             NaN  tt2005374
26             http://www.captainphillipsmovie.com  tt1535109
27            http://www.americanhustle-movie.com/  tt1800241
28                                             NaN  tt2668134
29                                             NaN  tt2343793
30                http://www.thewolverinemovie.com  tt1430132
31             http://www.thewolfofwallstreet.com/  tt0993846
32                         http://smurfhappens.com  tt2017020
33                                             NaN  tt1837703
34                                             NaN  tt2302755
35            http://gangstersquad.warnerbros.com/  tt1321870
36                                             NaN  tt1951261
37                 http://www.brokencitymovie.com/  tt1235522
38                                             NaN  tt0359950
39                      http://www.manofsteel.com/  tt0770828
40              http://www.theinternshipmovie.com/  tt2234155
41                                             NaN  tt0848537
42                http://www.painandgainmovie.com/  tt1980209
43       http://www.themortalinstrumentsmovie.com/  tt1538403
44            http://www.kaguyahime-monogatari.jp/  tt2576852
45                                             NaN  tt2334879

   original_language_x                       original_title_x  \
0                   ko                            Snowpiercer
1                   en                             Free Birds
2                   en                         Identity Thief
3                   en        Legends of Oz: Dorothy's Return
4                   en                                Elysium
5                   en                         Now You See Me
6                   en                             Safe Haven
7                   en                                 Snitch
8                   en    The Hobbit: The Desolation of Smaug
9                   en                             Kick-Ass 2
10                  en                            World War Z
11                  en                         Man of Tai Chi
12                  en                  Jack the Giant Slayer
13                  en                                 Parker
14                  en                               The Host
15                  en                     Out of the Furnace
16                  en         Percy Jackson: Sea of Monsters
17                  en                          The Counselor
18                  en                                Gravity
19                  en                            Warm Bodies
20                  en                          Lone Survivor
21                  en                             The Family
22                  en                          The Physician
23                  en         Hansel & Gretel: Witch Hunters
24                  en                            After Earth
25                  en                      The Frozen Ground
26                  en                       Captain Phillips
27                  en                        American Hustle
28                  ja                             キャプテンハーロック
29                  en                           Third Person
30                  en                          The Wolverine
31                  en                The Wolf of Wall Street
32                  en                           The Smurfs 2
33                  en                       The Fifth Estate
34                  en                     Olympus Has Fallen
35                  en                         Gangster Squad
36                  en                  The Hangover Part III
37                  en                            Broken City
38                  en        The Secret Life of Walter Mitty
39                  en                           Man of Steel
40                  en                         The Internship
41                  en                                   Epic
42                  en                            Pain & Gain
43                  en  The Mortal Instruments: City of Bones
44                  ja                                かぐや姫の物語
45                  en                       White House Down

                                           overview_x  popularity_x  ...  \
0   In a future where a failed global-warming expe...     14.131906  ...
1   In this irreverent, hilarious, adventurous bud...      7.713231  ...
2   When a mild-mannered businessman learns his id...      7.321172  ...
3   Dorothy wakes up in post-tornado Kansas, only ...      6.660309  ...
4   In the year 2159, two classes of people exist:...     15.232738  ...
5   An FBI agent and an Interpol detective track a...     17.852022  ...
6   A young woman with a mysterious past lands in ...      7.598422  ...
7   Construction company owner John Matthews learn...     13.542675  ...
8   The Dwarves, Bilbo and Gandalf have successful...     20.644776  ...
9   After Kick-Ass‚Äô insane bravery inspires a ne...     13.570264  ...
10  Life for former United Nations investigator Ge...     26.114917  ...
11  In Beijing, a young martial artist's skill pla...     11.829231  ...
12  The story of an ancient war that is reignited ...     11.606061  ...
13  A thief with a unique code of professional eth...     13.963892  ...
14  A parasitic alien soul is injected into the bo...     11.342024  ...
15  Two brothers live in the economically-depresse...      6.760321  ...
16  In their quest to confront the ultimate evil, ...     10.338222  ...
17  A rich and successful lawyer named Counselor i...     14.723646  ...
18  Dr. Ryan Stone, a brilliant medical engineer o...     18.501940  ...
19  After a zombie becomes involved with the girlf...     10.430238  ...
20  Based on the failed June 28, 2005 mission "Ope...     10.855502  ...
21  The Manzoni family, a notorious mafia clan, is...      8.047735  ...
22  The story of Rob Cole, a boy who is left a pen...     13.332387  ...
23  After getting a taste for blood as children, H...     10.337211  ...
24  One thousand years after cataclysmic events fo...     10.747642  ...
25  An Alaska State Trooper partners with a young ...     12.388833  ...
26  The true story of Captain Richard Phillips and...     13.776068  ...
27  A con man, Irving Rosenfeld, along with his se...     16.478036  ...
28  Space Pirate Captain Harlock and his fearless ...      7.857666  ...
29  An acclaimed novelist struggles to write an an...      8.808328  ...
30  Wolverine faces his ultimate nemesis - and tes...      3.918287  ...
31  A New York stockbroker refuses to cooperate in...     16.382422  ...
32  The evil wizard Gargamel creates a couple of m...     10.640864  ...
33  A look at the relationship between WikiLeaks f...     10.850442  ...
34  When the White House (Secret Service Code: "Ol...     10.978188  ...
35  Los Angeles, 1949. Ruthless, Brooklyn-born mob...      8.581558  ...
36  This time, there's no wedding. No bachelor par...     25.085639  ...
37  In a broken city rife with injustice, ex-cop B...     12.136158  ...
38  A timid magazine photo manager who lives life ...      8.684892  ...
39  A young boy learns that he has extraordinary p...     18.538834  ...
40  Two recently laid-off men in their 40s try to ...      0.393865  ...
41  A teenager finds herself transported to a deep...     11.913405  ...
42  Daniel Lugo, manager of the Sun Gym in 1990s M...      9.218002  ...
43  In New York City, Clary Fray, a seemingly ordi...     14.336187  ...
44  Found inside a shining stalk of bamboo by an o...      7.566053  ...
45  Capitol Policeman John Cale has just been deni...      9.920223  ...

                                           Keywords_y  \
0   [{'id': 494, 'name': 'father son relationship'...
1   [{'id': 65, 'name': 'holiday'}, {'id': 4543, '...
2                                                 NaN
3                                                 NaN
4   [{'id': 4565, 'name': 'dystopia'}, {'id': 1560...
5   [{'id': 90, 'name': 'paris'}, {'id': 974, 'nam...
6   [{'id': 818, 'name': 'based on novel'}, {'id':...
7   [{'id': 494, 'name': 'father son relationship'...
8   [{'id': 603, 'name': 'elves'}, {'id': 604, 'na...
9   [{'id': 853, 'name': 'crime fighter'}, {'id': ...
10  [{'id': 4565, 'name': 'dystopia'}, {'id': 1233...
11  [{'id': 478, 'name': 'china'}, {'id': 779, 'na...
12  [{'id': 179411, 'name': 'based on fairy tale'}...
13  [{'id': 191604, 'name': 'professional thief'},...
14  [{'id': 818, 'name': 'based on novel'}, {'id':...
15  [{'id': 378, 'name': 'prison'}, {'id': 380, 'n...
16  [{'id': 351, 'name': 'poison'}, {'id': 2034, '...
17  [{'id': 496, 'name': 'poetry'}, {'id': 10909, ...
18  [{'id': 4040, 'name': 'space mission'}, {'id':...
19  [{'id': 4458, 'name': 'post-apocalyptic'}, {'i...
20  [{'id': 6091, 'name': 'war'}, {'id': 10349, 'n...
21  [{'id': 254, 'name': 'france'}, {'id': 4009, '...
22  [{'id': 1279, 'name': 'medicine'}, {'id': 1965...
23  [{'id': 616, 'name': 'witch'}, {'id': 4252, 'n...
24                 [{'id': 4565, 'name': 'dystopia'}]
25  [{'id': 1419, 'name': 'gun'}, {'id': 10685, 'n...
26  [{'id': 3799, 'name': 'ship'}, {'id': 4245, 'n...
27  [{'id': 10453, 'name': 'con artist'}, {'id': 1...
28                                                NaN
29  [{'id': 293, 'name': 'female nudity'}, {'id': ...
30  [{'id': 233, 'name': 'japan'}, {'id': 1462, 'n...
31  [{'id': 417, 'name': 'corruption'}, {'id': 572...
32  [{'id': 10244, 'name': 'based on cartoon'}, {'...
33  [{'id': 736, 'name': 'journalist'}, {'id': 556...
34  [{'id': 833, 'name': 'white house'}, {'id': 41...
35  [{'id': 12670, 'name': 'los angeles'}, {'id': ...
36  [{'id': 9663, 'name': 'sequel'}, {'id': 11461,...
37  [{'id': 1919, 'name': 'mayor'}, {'id': 5340, '...
38  [{'id': 486, 'name': 'himalaya'}, {'id': 1003,...
39  [{'id': 83, 'name': 'saving the world'}, {'id'...
40  [{'id': 3489, 'name': 'job interview'}, {'id':...
41  [{'id': 2486, 'name': 'fantasy'}, {'id': 15907...
42  [{'id': 416, 'name': 'miami'}, {'id': 11454, '...
43  [{'id': 290, 'name': 'angel'}, {'id': 3133, 'n...
44  [{'id': 7376, 'name': 'princess'}, {'id': 1844...
45  [{'id': 840, 'name': 'usa president'}, {'id': ...

                                               cast_y  \
0   [{'cast_id': 4, 'character': 'Curtis Everett',...
1   [{'cast_id': 2, 'character': 'Reggie (voice)',...
2   [{'cast_id': 12, 'character': 'Sandy Patterson...
3   [{'cast_id': 2, 'character': 'Dorothy (voice)'...
4   [{'cast_id': 3, 'character': 'Max', 'credit_id...
5   [{'cast_id': 3, 'character': 'J. Daniel Atlas'...
6   [{'cast_id': 9, 'character': 'Katie Feldman', ...
7   [{'cast_id': 12, 'character': 'John Matthews',...
8   [{'cast_id': 3, 'character': 'Bilbo Baggins', ...
9   [{'cast_id': 35, 'character': 'Dave Lizewski /...
10  [{'cast_id': 4, 'character': 'Gerry Lane', 'cr...
11  [{'cast_id': 2, 'character': 'Donaka Mark', 'c...
12  [{'cast_id': 7, 'character': 'Jack', 'credit_i...
13  [{'cast_id': 4, 'character': 'Parker', 'credit...
14  [{'cast_id': 52, 'character': 'Melanie Stryder...
15  [{'cast_id': 3, 'character': 'Russell Baze', '...
16  [{'cast_id': 2, 'character': 'Percy Jackson', ...
17  [{'cast_id': 3, 'character': 'The Counselor', ...
18  [{'cast_id': 3, 'character': 'Dr. Ryan Stone',...
19  [{'cast_id': 13, 'character': 'R', 'credit_id'...
20  [{'cast_id': 3, 'character': 'Marcus Luttrell'...
21  [{'cast_id': 5, 'character': 'Fred Blake / Gio...
22  [{'cast_id': 4, 'character': 'Rob Cole', 'cred...
23  [{'cast_id': 3, 'character': 'Hansel', 'credit...
24  [{'cast_id': 11, 'character': 'Kitai Raige', '...
25  [{'cast_id': 1, 'character': 'Jack Halcombe', ...
26  [{'cast_id': 10, 'character': 'Captain Richard...
27  [{'cast_id': 3, 'character': 'Irving Rosenfeld...
28  [{'cast_id': 1, 'character': 'Captain Harlock ...
29  [{'cast_id': 3, 'character': 'Michael', 'credi...
30  [{'cast_id': 37, 'character': 'Logan / Wolveri...
31                                                NaN
32  [{'cast_id': 5, 'character': 'Gargamel', 'cred...
33  [{'cast_id': 1, 'character': 'Julian Assange',...
34  [{'cast_id': 7, 'character': 'Mike Banning', '...
35  [{'cast_id': 12, 'character': "John O'Mara", '...
36  [{'cast_id': 8, 'character': 'Phil', 'credit_i...
37  [{'cast_id': 3, 'character': 'Billy Taggart', ...
38  [{'cast_id': 11, 'character': 'Walter Mitty', ...
39  [{'cast_id': 2, 'character': 'Clark Kent / Kal...
40  [{'cast_id': 7, 'character': 'Nick Campbell', ...

Your friend is a film enthusiast and has decided to explore movies in languages other than English. He wants recommendations on which movies to watch next.

Using the dataset provided, your task is to find out the language with the highest mean popularity rating and then list the top 5 movies in that language.

Can you help your fellow film enthusiast friend by completing this task and providing them with recommendations for non-English movies?

In [ ]:
import pandas as pd

# Calculate the mean popularity for each language
language_popularity = imdb_df.groupby('original_language')['popularity'].mean()

# Find the language with the highest mean popularity
highest_popularity_language = language_popularity.idxmax()

# Filter the DataFrame to include only movies in the highest popularity language
filtered_movies = imdb_df[imdb_df['original_language'] == highest_popularity_language]

# Sort the filtered movies by popularity in descending order
sorted_movies = filtered_movies.sort_values(by='popularity', ascending=False)

# Get the top 5 movies
top_5_movies = sorted_movies.head(5)

# Print the results
print(f"The language with the highest mean popularity rating is: {highest_popularity_language}")
print("\nTop 5 movies in that language:")
print(top_5_movies[['title', 'popularity']])

The language with the highest mean popularity rating is: no

Top 5 movies in that language:
                          title  popularity
2276  Dead Snow 2: Red vs. Dead   10.287127
1075                  Dead Snow    7.974726

In [ ]:
_